name: docs

on:
  push:
    branches:
      - '**'
      - '!gh-pages'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "CACHE_ID=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.CACHE_ID }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install ".[docs]"
      - name: Deploy with mike
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" || "${{ github.ref }}" == "refs/heads/master" ]]; then
            mike deploy --push --update-aliases latest
            mike set-default --push latest
          else
            BRANCH_URL=$(echo ${{ github.ref_name }} | sed 's/\//-/g')
            mike deploy --push $BRANCH_URL
          fi
